<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/styles/index.css" type="text/css" /> 
    <title>Card Games</title>          
</head>

<body>

  <% include ./partials/nav.ejs %> 
  <div class="container">
    <h1>Archives</h1>  

      <div class='tile-container-leaderbox'> 

        <% for(let gameName of gameTypes) {  %> 
       
          <div class="tile-leaderboard">     
          <!-- <h3 class='tile-title tile-leaderboard-header'><%= accountName %>'s Games</h> -->
          <h3 class='tile-title tile-leaderboard-header'><%= gameName %></h3>

          <table class='table-archives'>
            <thead class='tb-header'>  
              <tr>
                <th class="archives-col-1">Date</th>
                <th class="archives-col-2">Opponents</th>
                <th class="archives-col-3">Result</th>
              </tr>
            </thead>

            <tbody>
              <% let count = 1 %>            
              <% completedGames.forEach((game, index) => { %>
                <% const players = game.players.filter(player => player !== accountName).join(', ') %>
                <% const isWinner = game.winners.includes(accountName) %>
                <% const winnerCount = game.winners.length %>
                <% const result = isWinner ? (winnerCount > 1 ? "DRAW" : "WIN") : "LOSS" %>
                <% if(game.name === gameName && count <= 10) { %>
                  <td class="archives-col-1"><%= game.completed_at %></td> 
                  <td class="archives-col-2"> <%= players %></td> 
                  <td class="archives-col-3 archives_result__<%= result %>"><%= result %></td>
                </tr>
                <% } %>
              <% }); %>   
              </tbody>
          </table>

          </div>
        <% } %>
    </div> 
  </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
      $('.nav-header [data-path="/archives"]').addClass("nav-link-active");
    </script>
</body>

</html>