<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/styles/index.css" type="text/css" /> 

    <title>Card Games</title>
  </head>
  <body>
    <% include ./partials/nav.ejs %>
    <div class="container">
      <h1 id="game-list">Join Games</h1> <!-- List completed games of all users -->   
  
      <div class='game-types'>      
        <% for(let index in gameTypes) {  %>   
        <div class='my-games-toggle game-name type__<%= fileNames[index] %>' data-gametype="<%= fileNames[index] %>"> <%= gameTypes[index] %> </div>
        <% } %>
      </div>
      
      <div class='tile-container'>
        <% for(let gameName of gameTypes) {  %> 
        
          <% for(let game of userGames) { %>
            <% if(game.name === gameName) { %>
            <% const missing = playerMin[game.file_name] - game.players.length %>
            <div class="tile tile__<%= game.file_name %> hidden">
            <h3 class='tile-title'>Join <%= game.players.join(', ')%>!</h3>
            <% if (missing > 0) { %>
              <p>Needs <%= missing %> more player<%= missing > 1 ? 's' : '' %></p>
            <% } else { %>
              <p>Ready to start!</p>
            <% } %>
            <button href='/games/<%= game.uuid %>' class='button button-primary'>Join</button>
            </div>
            <% } %>
          <% }; %>
        
        <% } %> 
      </div>
    </div>
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/scripts/room.js"></script>
    
    <script>
      $(document).ready(()=> {

        $('.my-games-toggle').each(function() {
          $(this).click(() => {
            $('.tile').addClass('hidden');
            $(`.tile__${$(this).data('gametype')}`).removeClass('hidden');

            $('.my-games-toggle').removeClass('type-select');
            $(`.type__${$(this).data('gametype')}`).addClass('type-select');
          })
        })

        $(".game-types").children('div').get(0).click();
      });
      $('.nav-header [data-path="/games"]').addClass("nav-link-active");
    </script>
  </body>

</html>