<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/styles/index.css" type="text/css" /> 

    <title>Leaderboard</title>

  </head>
  <body>
    <% include ./partials/nav.ejs %>

    <div class="container">
      <h1>Leaderboards</h1>  
      <div class='tile-container-leaderbox'> 

        <% for(let gameName of gameTypes) {  %> 
       
          <div class="tile-leaderboard">     
          <h3 class='tile-title tile-leaderboard-header'>Rank of <%= gameName %></h>

          <table class='table-leaderbox'>
            <thead class='tb-header'>  
              <tr> <th>Rank</th> <th>Top Players</th> <th>Points</th> </tr>
            </thead>

                <tbody>
                <% let count = 1 %>            
                <% userScores.forEach((userScore, index) => { %>
                  <% if(userScore.game_name === gameName && count <= 10) { %>
                    <tr> <td><%= `${count++}.` %></td> 
                      <td><%= userScore.username %></td>
                      <!-- <td><%= userScore.wins %></td> -->
                      <td><%= userScore.score %></td> </tr>              
                  <% } %>
                <% }); %>
                      
                <% for(; count <= 10; count++) { %>
                <tr> <td><%= `${count}.` %></td>
                  <td> </td> <td> </td> <td> </td> </tr> 
                <% } %>
        
              </tbody>
          </table>

          </div>
        <% } %>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
      $('.nav-header [data-path="/leaderboard"]').addClass("nav-link-active");
    </script>
  </body>

</html>