<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/styles/index.css" type="text/css" /> 

    <title>Leaderboard</title>

  </head>
  <body>
    <% include ./partials/nav.ejs %>

    <div class="container">
      <h1>Leaderboards</h1>  
      <div class='tile-container-leaderbox'> 

        <% for(let gameName of gameTypes) {  %> 
       
          <div class="tile-leaderboard">     
          <h3 class='tile-leaderboard-header'><%= gameName %></h3>

          <table class='table-leaderbox'>
            <thead class='tb-header'>  
              <tr>
                <th class="leaderboard-col-1">Rank</th>
                <th class="leaderboard-col-2">Top Players</th>
                <th class="leaderboard-col-3">Points</th>
              </tr>
            </thead>

            <tbody>
              <% let count = 1 %>            
              <% userScores.forEach((userScore, index) => { %>
                <% if(userScore.game_name === gameName && count <= 10) { %>
                  <tr> 
                    <td class="leaderboard-col-1"><%= `${count++}.` %></td> 
                    <td class="leaderboard-col-2"><%= userScore.username %></td>
                    <td class="leaderboard-col-3"><%= Math.round(userScore.score) %></td>
                  </tr>              
                <% } %>
              <% }); %>
              <% for(; count <= 10; count++) { %>
                <tr> 
                  <td class="leaderboard-col-1"><%= `${count}.` %></td>
                  <td class="leaderboard-col-2">--</td>
                  <td class="leaderboard-col-3">--</td>
                </tr> 
              <% } %>
        
            </tbody>
          </table>

          </div>
        <% } %>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
      $('.nav-header [data-path="/leaderboard"]').addClass("nav-link-active");
    </script>
  </body>

</html>