<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" /> 
    <link rel="stylesheet" href="/styles/common.css" type="text/css" /> 
    <link rel="stylesheet" href="/styles/room.css" type="text/css" /> 

    <title>Card Games</title>
  </head>
  <body>

    <% include ./partials/nav.ejs %>
    <h1 id="game-list">My Games</h1> <!-- List completed games of all users -->   

    <div class='game-types'>      
      <% for(let index in gameTypes) {  %>   
      <div class='my-games-toggle game-name type__<%= fileNames[index] %>' data-gametype="<%= fileNames[index] %>"> <%= gameTypes[index] %> </div>
      <% } %>
    </div>

    <% for(let gameName of gameTypes) {  %> 
    <div class='tile-container'>
      <% for(let game of userGames) { %>
        <% if(game.name === gameName) { %>
        <div class="tile tile__<%= game.file_name %> hidden">
          <h3 class='tile-title'>Playing with <%= game.players.join(', ') %> !</h3>
          <p>Your turn to make a move!</p>
          <div class='tile-footer'>
            <button href='/games/<%= game.uuid %>' class='button button-primary'>Play</button>
            <!-- <span>Created at <%= game.created_at %></span> -->
          </div>
        </div>
        <% } %>
      <% }; %>
    </div>
    <% } %>  
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    
    <script>
        $(document).ready(()=> {

          $('.my-games-toggle').each(function() {
            $(this).click(() => {
              $('.tile').addClass('hidden');
              $(`.tile__${$(this).data('gametype')}`).removeClass('hidden');

              $('.my-games-toggle').removeClass('type-select');
              $(`.type__${$(this).data('gametype')}`).addClass('type-select');
            })
          })

          $(".game-types").children('div').get(0).click();
        });
    </script>
  </body>

</html>